[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/DependencyMicrosoftCargo.git

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/DependencyMicrosoftNPM.git

[submodule "Dependency"]
path = Dependency
url = ssh://git@github.com/CodeEditorLand/DependencyMicrosoftDependency.git
